<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HaRepacker.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HaRepacker.UserSettings>
            <setting name="MapleVersion" serializeAs="String">
                <value>GMS</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="FileVersion" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Indentation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineBreakType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DefaultXmlFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseApngIncompatibilityFrame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAssociate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </HaRepacker.UserSettings>
    </userSettings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
