<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HaCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
        <HaCreator.Properties.Settings>
            <setting name="MapleVersion" serializeAs="String">
                <value>GMS</value>
            </setting>
            <setting name="MapleFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastMapSize" serializeAs="String">
                <value>800, 800</value>
            </setting>
            <setting name="loadRadioIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="newTab" serializeAs="String">
                <value>True</value>
            </setting>
        </HaCreator.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Xna.Framework" publicKeyToken="6D5C3888EF60E27D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
